In [32]:
import pandas as pd
import numpy as np
import seaborn as sns

In [33]:
data_csv=pd.read_csv('C:/Users/mjana/OneDrive/Desktop/jupyter commands/Python for Data Science Exam Session 1 2019-20/apy.csv')

In [34]:
data=data_csv.copy()

In [35]:
data=data.dropna(axis=0)
data=data.drop_duplicates()

# Q1) Which of these crops were produced during the Autumn season? (select option with all that apply)
##### a) Arecanut, Arhar/Tur, Bajra, Castor seed
##### b) Paddy, Maize, Moong (Green Gram), Onion, Sunflower
##### c) Banana, Coriander, Gram, Rapeseed and Mustard
##### d) Rice, Sugarcane, Paddy, Ragi

##### Ans: D

In [13]:
a=data[data['Season']=='Autumn     ']
np.unique(a['Crop'])

array(['Arhar/Tur', 'Banana', 'Cotton(lint)', 'Dry chillies',
       'Dry ginger', 'Groundnut', 'Jowar', 'Jute', 'Maize',
       'Moong(Green Gram)', 'Onion', 'Paddy', 'Peas & beans (Pulses)',
       'Potato', 'Ragi', 'Rice', 'Sannhamp', 'Sesamum', 'Small millets',
       'Soyabean', 'Sugarcane', 'Sweet potato', 'Tapioca', 'Turmeric',
       'Urad'], dtype=object)

# Q2) During which year, Uttar Pradesh had the highest crop production?
##### a) 2013
##### b) 2011
##### c) 1997
##### d) 2008

##### Ans:

In [17]:
a=data[data['State_Name']=='Uttar Pradesh']
pd.pivot_table(a,index='Crop_Year',values='Production',aggfunc='sum').sort_values('Production',ascending=True).head()

            Production
Crop_Year
2013       207615192.0
2012       205230988.0
2014       199418844.0
2011       195007190.0
1997       192027165.0

##### Q3) The maximum and minimum area used for production were in the years __
 ##### a) 1997 and 2014
 ##### b) 1998 and 2015
 ##### c) 1997 and 2015
 ##### d) 1999 and 2005
 
 ##### Ans: C

In [19]:
pd.pivot_table(data,index='Crop_Year',values='Area',aggfunc='sum').sort_values('Area',ascending=True).head()

                   Area
Crop_Year
1997       2.317150e+08
2010       1.766192e+08
2003       1.720881e+08
2008       1.712321e+08
2006       1.706991e+08

In [21]:
pd.pivot_table(data,index='Crop_Year',values='Area',aggfunc='sum').sort_values('Area',ascending=True).head()

                   Area
Crop_Year
2015       4.601298e+06
2014       1.157575e+08
2013       1.415249e+08
2012       1.524698e+08
2007       1.527242e+08

##### Q4) Which state in India had the lowest crop production? (overall, for all years)
 ##### a) Meghalaya
 ##### b) Chandigarh
 ##### c) Mizoram
 ##### d) Manipur

##### Ans: B

In [25]:
pd.pivot_table(data,index='State_Name',values='Production',aggfunc='sum').sort_values('Production',ascending=True).head()

                        Production
State_Name
Chandigarh                63956.50
Mizoram                 1661539.83
Dadra and Nagar Haveli  1847871.00
Sikkim                  2435735.00
Manipur                 5230917.00

##### Q5) What were the top three produced crops in the year 2015?
 ##### a) Wheat, Potato, Rice
 ##### b) Coconut, Potato, Sugarcane
 ##### c) Coconut, Sugarcane, Rice
 ##### d) Rice, Sugarcane, Maize
 ##### Ans: D

In [26]:
a=data[data['Crop_Year']==2015]
pd.pivot_table(a,index='Crop',values='Production',aggfunc='sum').sort_values('Production',ascending=False).head()

                   Production
Crop
Rice                5893687.0
Sugarcane            577157.2
Maize                179286.9
Moong(Green Gram)     85222.5
Potato                57233.6

##### Q6) What is the standard deviation for Area of production?
 ##### a) 52957.44002417 (approx.)
 ##### b) 12167.414481909 (approx.)
 ##### c) 50857.44002417 (approx.)
 ##### d) 2586479205.812 (approx.)
##### Ans: C

In [36]:
data.describe()

           Crop_Year          Area    Production
count  242361.000000  2.423610e+05  2.423610e+05
mean     2005.625773  1.216741e+04  5.825034e+05
std         4.958285  5.085744e+04  1.706581e+07
min      1997.000000  1.000000e-01  0.000000e+00
25%      2002.000000  8.700000e+01  8.800000e+01
50%      2006.000000  6.030000e+02  7.290000e+02
75%      2010.000000  4.545000e+03  7.023000e+03
max      2015.000000  8.580100e+06  1.250800e+09

Q7) Which is the crop that gave highest production to the state Madhya Pradesh?
 a) Sugarcane
 b) Wheat
 c) Banana
 d) Coconut
Ans: B

In [37]:
a=data[data['State_Name']=='Madhya Pradesh']

In [38]:
pd.pivot_table(a,index='Crop',values='Production',aggfunc='sum').sort_values('Production',ascending=False).head()

            Production
Crop
Wheat      147153856.0
Soyabean    85273955.0
Gram        39030407.0
Sugarcane   33870810.0
Rice        27622679.0

Q8) Which of the following statements is true? (Select all that applies)
a)  The overall production during the Kharif season is 2,029,970,000 (approx.)
 b) The overall production during the Summer season is 170,657,900 (approx.)
 c) The overall production during the Autumn season is 14,413,770 (approx.)
 d) The overall production during the Kharif season is 4,029,970,000 (approx.)
 
 Ans: B and D

In [39]:
a=data[data['Season']=='Kharif     ']
sum(a['Production'])

4029970242.6999965

In [40]:
a=data[data['Season']=='Summer     ']
sum(a['Production'])

170657925.02999985

In [41]:
a=data[data['Season']=='Autumn     ']
sum(a['Production'])

64413768.220000066

q9) Which state had the highest area of production?
 a) Tamil Nadu
 b) Uttar Pradesh
 c) Kerala
 d) Karnataka
 
 Ans: B

In [42]:
pd.pivot_table(data,index='State_Name',values='Area',aggfunc='sum').sort_values('Area',ascending=False).head()

                        Area
State_Name
Uttar Pradesh   4.336223e+08
Madhya Pradesh  3.297913e+08
Maharashtra     3.221860e+08
Rajasthan       2.687882e+08
West Bengal     2.154030e+08

Q10) What is the mean for area of production?
 a) 17065.81 (approx.)
 b) 12167.4 (approx.)
 c) 24236.10 (approx.)
 d) 58250.34 (approx.)
 
 Ans: B

In [45]:
data['Area'].describe()

count    2.423610e+05
mean     1.216741e+04
std      5.085744e+04
min      1.000000e-01
25%      8.700000e+01
50%      6.030000e+02
75%      4.545000e+03
max      8.580100e+06
Name: Area, dtype: float64

Q11) What is the correlation coefficient between Area and Production?
 a) 40.587
 b) 0.40587
 c) 4.0587
 d) 0.040587
 
 Ans: D

In [47]:
a=data[['Area','Production']]
c=a.corr()
print(c)

                Area  Production
Area        1.000000    0.040587
Production  0.040587    1.000000

Q12) The crops that had the highest production (in the correct order) were?
 a) Coconut, Sugarcane, Wheat, Potato, Rice
 b) Gram, Jute, Soya bean, Maize, Cotton
 c) Coconut, Sugarcane, Rice, Wheat, Potato
 d) Sugarcane, Wheat, Soya bean, Potato, Coconut
 
 Ans: C

In [49]:
pd.set_option('display.max_rows',500)

In [51]:
pd.pivot_table(data,index='Crop',values='Production',aggfunc='sum').sort_values('Production',ascending=False)

                             Production
Crop
Coconut                    1.299816e+11
Sugarcane                  5.535682e+09
Rice                       1.605470e+09
Wheat                      1.332826e+09
Potato                     4.248263e+08
Cotton(lint)               2.970000e+08
Maize                      2.733418e+08
Jute                       1.815582e+08
Banana                     1.461327e+08
Soyabean                   1.418372e+08
Bajra                      1.296810e+08
Jowar                      1.145983e+08
Groundnut                  1.117449e+08
Tapioca                    1.050072e+08
Gram                       9.941424e+07
Rapeseed &Mustard          9.086927e+07
Onion                      7.245305e+07
Oilseeds total             4.386756e+07
Total foodgrain            4.327076e+07
Arhar/Tur                  3.933139e+07
Ragi                       3.513140e+07
Paddy                      3.170240e+07
Urad                       2.241049e+07
Barley                     2.209827e+07
Arecanut                   2.034659e+07
Moong(Green Gram)          1.830319e+07
Dry chillies               1.771225e+07
Castor seed                1.595206e+07
Pulses total               1.567535e+07
Sunflower                  1.326308e+07
Masoor                     1.315338e+07
Mango                      1.277054e+07
Guar seed                  1.275152e+07
Mesta                      1.239354e+07
Sesamum                    1.100903e+07
Tobacco                    1.049616e+07
Dry ginger                 1.004633e+07
Turmeric                   9.966243e+06
Garlic                     8.788774e+06
Peas & beans (Pulses)      8.752955e+06
Sweet potato               7.848014e+06
Khesari                    5.768192e+06
Small millets              5.630376e+06
Other  Rabi pulses         4.805261e+06
other oilseeds             4.769909e+06
Tomato                     4.724984e+06
Other Kharif pulses        4.349860e+06
Horse-gram                 4.162613e+06
Papaya                     3.922521e+06
Coriander                  3.755117e+06
Moth                       3.698784e+06
Safflower                  2.821106e+06
Cashewnut                  2.591179e+06
Linseed                    2.537280e+06
Orange                     2.338803e+06
Pineapple                  2.127594e+06
Black pepper               1.784234e+06
Grapes                     1.751593e+06
Brinjal                    1.442172e+06
Niger seed                 1.352354e+06
Other Cereals & Millets    1.186046e+06
Rubber                     1.175317e+06
Other Vegetables           9.632120e+05
Atcanut (Raw)              9.272500e+05
Citrus Fruit               8.795670e+05
Ginger                     8.219257e+05
Lemon                      5.409940e+05
Pome Fruit                 4.813400e+05
Other Fresh Fruits         3.994430e+05
Sannhamp                   3.769012e+05
Bhindi                     3.170770e+05
Cabbage                    3.114190e+05
Sapota                     2.804270e+05
Cowpea(Lobia)              2.406380e+05
Beans & Mutter(Vegetable)  2.113590e+05
Arcanut (Processed)        1.928310e+05
Cardamom                   1.717427e+05
Samai                      1.451750e+05
Tea                        1.359813e+05
Coffee                     1.300120e+05
Korra                      1.237130e+05
Jute & mesta               1.123150e+05
Cashewnut Raw              9.846200e+04
Drum Stick                 7.712100e+04
Pome Granet                6.633400e+04
Jack Fruit                 6.077400e+04
Colocosia                  4.984000e+04
Varagu                     4.969400e+04
Blackgram                  4.393900e+04
Rajmash Kholar             1.859000e+04
Cauliflower                1.843300e+04
Lentil                     1.076200e+04
other misc. pulses         9.704220e+03
Kapas                      8.542000e+03
Cashewnut Processed        8.121000e+03
Bean                       6.240000e+03
Ricebean (nagadal)         5.230000e+03
Carrot                     4.066000e+03
Redish                     3.936000e+03
Cond-spcs other            2.260400e+03
Perilla                    1.410000e+03
Jobster                    1.180000e+03
Bottle Gourd               5.980000e+02
Turnip                     3.630000e+02
Bitter Gourd               3.530000e+02
other fibres               0.000000e+00
Yam                        0.000000e+00
Water Melon                0.000000e+00
Ash Gourd                  0.000000e+00
Beet Root                  0.000000e+00
Plums                      0.000000e+00
Ber                        0.000000e+00
Snak Guard                 0.000000e+00
Ribed Guard                0.000000e+00
Pump Kin                   0.000000e+00
Peas  (vegetable)          0.000000e+00
Pear                       0.000000e+00
Peach                      0.000000e+00
Other Dry Fruit            0.000000e+00
Other Citrus Fruit         0.000000e+00
Cucumber                   0.000000e+00
Litchi                     0.000000e+00
Lab-Lab                    0.000000e+00
Apple                      0.000000e+00

Q13) Which is the only crop that had the highest production during the autumn, summer and winter seasons?
 a) Rice
 b) Maize
 c) Paddy
 d) Jute
 
 Ans: A

In [52]:
a=data[data['Season']=='Autumn     ']
pd.pivot_table(a,index='Crop',values='Production',aggfunc='sum').sort_values('Production',ascending=False).head()

        Production
Crop
Rice   51853755.54
Maize   8933033.65
Paddy   2034745.00
Ragi     496919.58
Jute     441559.90

In [54]:
a=data[data['Season']=='Summer     ']
pd.pivot_table(a,index='Crop',values='Production',aggfunc='sum').sort_values('Production',ascending=False).head()

             Production
Crop
Rice       1.277028e+08
Maize      1.392421e+07
Bajra      7.436768e+06
Groundnut  6.827897e+06
Paddy      5.110559e+06

In [55]:
a=data[data['Season']=='Winter     ']
pd.pivot_table(a,index='Crop',values='Production',aggfunc='sum').sort_values('Production',ascending=False).head()

             Production
Crop
Rice       3.815695e+08
Paddy      1.931804e+07
Potato     1.610274e+07
Sugarcane  1.601724e+07
Urad       3.696359e+05

Starting afresh load the given dataset and prepare the dataset by following the steps given below: 
    • Ensure the datatypes of the columns are appropriate
    • Drop the missing values
    • Drop all the variables except “Area” and “Production”
    • Split the data into train (70%), test (30%) and set random state as 42

Build a linear regression model with the train dataset by having “Area” as independent variable and “Production” as dependent variable. Predict the test data and compare the predictions against the original test set values. Based on the above mentioned instructions, answer the following questions..


Q14) The Root mean square value of the Linear regression model is
 a) 18529629.51147644
 b) 1001531.331097424
 c) 13524820.12533588
 d) 14599645.26554688
 
 Ans: A

In [63]:

from statsmodels.tools.eval_measures import rmse

import statsmodels.api as sm
from sklearn.model_selection import train_test_split

X=data['Area']
X=sm.add_constant(X)
Y=data['Production']
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,Y,test_size=0.3,random_state=42)
SLR_model=sm.OLS(Ytrain,Xtrain).fit()
rmse(Ytest,SLR_model.predict(Xtest))

18529629.51147644

Q15) The MAE of the Linear regression model is
 a) 18529629.51147644
 b) 1121707.916712476
 c) 13524820.12533588
 d) 112599645.2655468
 Ans: B

In [59]:
from sklearn import metrics
from sklearn.linear_model import LinearRegression
lnr=LinearRegression()
lnr.fit(Xtrain,Ytrain)
Ypred=lnr.predict(Xtest)
print(metrics.mean_absolute_error(Ytest,Ypred))

1121707.916712476